---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Learning Svelte Site">
    <p>Wow</p>
</MainLayout>

<style lang="scss">
  h1 {
    color: var(--theme-text-main-accent);
    text-align: center;
  }
</style>
