---
import Header from "@components/header.svelte";
import type { AstroInstance } from "astro";

const pages = await Astro.glob<AstroInstance & Page>(
  "/src/pages/projects/*.astro"
);

type Page = {
  title: string;
  creationOrder: number;
};

pages.sort((a, b) => {
  return a.creationOrder - b.creationOrder;
});

const { subpage } = Astro.props;
---

<Header client:idle>
  <div slot="header-main" class="header-logo">
    <a href="/learning-svelte-site" title="Home">
      <h1>Learning Svelte Site</h1>
    </a>
    {
      subpage && (
        <>
          <span class="slash">/</span>
          <p class="subpage">{subpage}</p>
        </>
      )
    }
  </div>
  <div slot="header-links">
    <nav>
      {
        pages.map((page) => {
          return (
            <a
              href={page.url}
              class="subpage-link"
              title={`link to ${page.title} subpage`}
            >
              {page.title}
            </a>
          );
        })
      }
    </nav>
  </div>
</Header>

<style lang="scss">
  // General Styles
  a {
    text-decoration: none;
  }

  h1 {
    text-align: center;
    color: var(--theme-text-main-accent);
  }

  // Main styles

  .header-logo {
    min-height: var(--header-height);
    display: flex;
    align-items: center;
  }

  .slash {
    margin-inline: 1.5ch 0.5ch;
    font-size: 1.25em;
  }

  .subpage {
    margin-right: auto;
  }

  nav {
    display: flex;
    background-color: var(--theme-header-link-bar);
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding-block: 0.51rem;

    .subpage-link {
      color: var(--theme-header-link-text, inherit);
      background-color: var(--theme-header-link-text-bg);
      font-weight: 800;
      font-size: 1.125rem;
      padding: 0.5rem 1rem;

      &:hover {
        background-color: var(--theme-header-link-text-bg-hover);
      }
    }
  }

  // Mobile Styles

  @media (max-width: 650px) {
    h1 {
      font-size: 1rem;
      max-width: 10ch;
    }
    .slash {
      margin-inline: 0 0.5ch;
    }
  }
</style>
