---
import MainLayout from "../../layouts/MainLayout.astro";
import Counter from "../../components/counter.svelte";

export const title = "Counter";
export const creationOrder = 1;
---

<MainLayout title={title}>
  <section>
    <p>there should be a counter below this</p>
    <hr />
    <div>
      <Counter client:idle />
    </div>
  </section>
</MainLayout>

<style>
  section > * + * {
    margin-top: 1rem;
  }
</style>
