---
import MainLayout from "@layouts/MainLayout.astro";
import FancyCard from "@components/fancy-card.svelte";

export const title = "Fancy Card";
export const creationOrder = 10;
---

<MainLayout title={title} noPad={true} noMaxWidth={true}>
  <FancyCard client:idle />
  <section>
    <hr />
    <p>
      Funny card, ideas taken from <a
        href="https://www.youtube.com/watch?v=joDhIH6Xumw"
        title="Youtube: Twitch has created the Holy Grail of CSS hover effects"
        >this video</a
      >
    </p>
  </section>

  <style lang="scss">
    section {
      padding: 1rem;
      max-width: var(--main-width);
      margin-inline: auto;
      min-height: 10rem;

      > * + * {
        margin-top: 1rem;
      }
    }
  </style>
</MainLayout>
