---
import MainLayout from "@layouts/MainLayout.astro";
import Innocence from "@components/innocence.svelte";

export const title = "Innocence Test Ripoff";
export const creationOrder = 3;
---

<MainLayout title={title}>
  <section>
    <p>
      This is a ripoff of that one random react app which is a ripoff of the
      rice purity test. Not sure why it had such good SEO but sure I guess?
    </p>
    <hr />
    <div>
      <Innocence client:idle />
    </div>
  </section>
</MainLayout>

<style lang="scss">
  section {
    > * + * {
      margin-top: 1rem;
    }
  }
</style>
