---
import MainLayout from "@layouts/MainLayout.astro";
import Logic from "@components/logic.svelte";

export const title = "Logic Blocks";
export const creationOrder = 2;
---

<MainLayout title={title}>
  <section>
    <p>This page displays different things based on logic!</p>
    <hr />
    <div>
      <Logic client:idle />
    </div>
  </section>
</MainLayout>

<style>
  section > * + * {
    margin-top: 1rem;
  }
</style>
