---
import Header from "../components/Header.astro";

export interface Props {
  title: string;
  isSubpage?: boolean;
}

const { title, isSubpage } = Astro.props;
const subpageLink = isSubpage === false ? null : title;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <!-- OpenGraph Tags -->

    <meta property="og:type" content="article" />
    <meta property="og:locale" content="en" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content="A site I made to learn Svelte" />
    <meta property="og:image" content="/favicon.png" />
    <meta property="og:site_name" content="Arkdex" />
    <!-- Title -->
    <title>{title}</title>
    <!-- Google Fonts Preconnect -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <!-- Styles -->
    <style lang="scss" is:global>
      *,
      *::after,
      *::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      html {
        font-family: "Open Sans", system-ui, sans-serif;
        color: var(--theme-text-main);
      }

      hr {
        border: none;
        border-top: 2px solid var(--theme-hr);
      }

      button {
        padding: 0.5em;
        border: none;
        background-color: var(--theme-button);
        color: inherit;

        &:hover {
          background-color: var(--theme-button-hover);
        }
        &:active {
          background-color: var(--theme-button-active);
        }
      }
    </style>
    <style>
      :root {
        --color-hue-main: 290, 40%;
        --color-hue-alt: 130, 40%;

        --theme-bg: hsl(var(--color-hue-main), 96%);
        --theme-hr: hsl(var(--color-hue-main), 30%);

        --theme-header: hsl(var(--color-hue-main), 86%);
        --theme-header-button-hover: hsl(var(--color-hue-main), 82%);
        --theme-header-button-active: hsl(var(--color-hue-main), 80%);
        --theme-header-link-bar: hsl(var(--color-hue-alt), 35%);
        --theme-header-link-text: hsl(var(--color-hue-alt), 10%);
        --theme-header-link-text-bg: hsl(var(--color-hue-alt), 45%);
        --theme-header-link-text-bg-hover: hsl(var(--color-hue-alt), 55%);

        --theme-text-main: hsl(var(--color-hue-main), 7%);
        --theme-text-main-accent: hsl(var(--color-hue-main), 55%);
        --theme-text-alt: hsl(var(--color-hue-alt), 7%);
        --theme-text-alt-accent: hsl(var(--color-hue-alt), 55%);

        --theme-card: hsl(var(--color-hue-main), 86%);
        --theme-button: hsl(var(--color-hue-main), 84%);
        --theme-button-hover: hsl(var(--color-hue-main), 88%);
        --theme-button-active: hsl(var(--color-hue-main), 86%);
      }

      body {
        background-color: var(--theme-bg);
      }

      main {
        max-width: 75ch;
        margin-inline: auto;
        padding: 1rem;

        > * + * {
          margin-top: 1rem;
        }
      }
    </style>
  </head>
  <body>
    <Header subpage={subpageLink} />
    <main>
      <slot />
    </main>
  </body>
</html>
